# {{ ansible_managed }}

{% if openvpn_comp_lzo %}
comp-lzo
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
group {{ openvpn_group }}
{% if openvpn_static %}
ifconfig {{ openvpn_client_ifconfig }}
{% endif %}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
{% if openvpn_nobind %}
nobind
{% endif %}
{% if openvpn_persist_key %}
persist-key
{% endif %}
{% if openvpn_cipher %}
cipher {{ openvpn_cipher }}
{% endif %}
{% if openvpn_auth %}
auth {{ openvpn_auth }}
{% endif %}
{% if openvpn_persist_tun %}
persist-tun
{% endif %}
{% if openvpn_ping_timer_rem %}
ping-timer-rem
{% endif %}
proto {{ openvpn_proto }}
{% if openvpn_pull %}
pull
{% endif %}
{% if openvpn_static %}
secret {{ openvpn_secret_file }}
{% endif %}
remote {{ openvpn_remote_host }} {{ openvpn_remote_port }} {{ openvpn_remote_proto }}
{% if openvpn_resolv_retry %}
resolv-retry {{ openvpn_resolv_retry }}
{% endif %}
user {{ openvpn_user }}
{% if openvpn_verb %}
verb {{ openvpn_verb }}
{% endif %}
{% if openvpn_log_append %}
log-append {{ openvpn_log_append }}
{% endif %}
{% if openvpn_route1 %}
{{ openvpn_route1 }}
{% endif %}
{% if openvpn_route2 %}
{{ openvpn_route2 }}
{% endif %}
{% if openvpn_route3 %}
{{ openvpn_route3 }}
{% endif %}
