# {{ ansible_managed }}

{% if openvpn_comp_lzo %}
comp-lzo
{% endif %}
{% if openvpn_daemon %}
daemon
{% endif %}
dev {{ openvpn_dev }}
{% if openvpn_static %}
ifconfig {{ openvpn_server_ifconfig }}
{% endif %}
user {{ openvpn_user }}
group {{ openvpn_group }}
{% if openvpn_keepalive %}
keepalive {{ openvpn_keepalive }}
{% endif %}
{% if openvpn_persist_key %}
persist-key
{% endif %}
{% if openvpn_persist_tun %}
persist-tun
{% endif %}
{% if openvpn_ping_timer_rem %}
ping-timer-rem
{% endif %}
{% if openvpn_static %}
secret {{ openvpn_secret_file }}
{% endif %}
{% if openvpn_auth %}
auth {{ openvpn_auth }}
{% endif %}
user {{ openvpn_user }}
{% if openvpn_verb %}
verb {{ openvpn_verb }}
{% endif %}
{% if openvpn_cipher %}
cipher {{ openvpn_cipher }}
{% endif %}
{% if openvpn_auth %}
auth {{ openvpn_auth }}
{% endif %}
{% if openvpn_lport %}
lport {{ openvpn_lport }}
{% endif %}
{% if openvpn_proto %}
proto {{ openvpn_proto }}
{% endif %}
{% if openvpn_status %}
status {{ openvpn_status }}
{% endif %}
{% if openvpn_log_append %}
log-append {{ openvpn_log_append }}
{% endif %}
{% if openvpn_route1 %}
{{ openvpn_route1 }}
{% endif %}
{% if openvpn_route2 %}
{{ openvpn_route2 }}
{% endif %}
{% if openvpn_route3 %}
{{ openvpn_route3 }}
{% endif %}
